.sighup-header
  .header-sighup
    =link_to "#" do
      =image_tag "/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "logo-image"
  %nav.development-bar
    %ul.clearfix
      %li.active
        会員情報
        .circle2
      %li.active
        お届け先住所入力
        .circle
      %li.active
        完了
        .circle
.