-if commodity.sales_status.id == 1
  =link_to detail_pages_path(id: commodity), class: "product-list" do
    .product-list__image
      -commodity_image = commodity.images.limit(1).pluck(:image)
      =image_tag commodity_image[0], class: "product-images"
    .product-list__body
      %h3.name 
        =commodity.name
      .details
        %ul
          %li
            =commodity.price
            円
          %li
            =icon("fa", "star", class: "like-icon")
            0
      %p
        (税込)
-else commodity.sales_status.id == 2
  =link_to detail_pages_path(id: commodity), class: "product-list" do
    .product-list__image
      -commodity_image = commodity.images.limit(1).pluck(:image)
      =image_tag commodity_image[0], class: "product-images"
      .product-list__image-sold
        .product-list__image-sold-inner
          SOLD
    .product-list__body
      %h3.name 
        =commodity.name
      .details
        %ul
          %li
            =commodity.price
            円
          %li
            =icon("fa", "star", class: "like-icon")
            0
      %p
        (税込)
