.confirmation-main
  .confirmation-box
    %h2.heading
      購入内容の確認
    .product
      .product-image
        =image_tag src="/assets/a004.png", class: "label-image"
      .product-text
        .product-text__name
          product2
        .product-text__price
          %span ¥20,000
          %span.fee-details （税込）送料込み
    .payment-details
      %form{action: "#", method: "post", id: "buy-product-form", class: "product-form"}
        .payment-amount-box
          .payment-amount
            .payment-amount__label
              支払い金額
            .payment-amount__price
              ¥20,000
          .point
            %label
              %input{type: "checkbox", id: "check", class: "point-checkbox", name: "check"} 
                %span.border-check
                  =icon('fa', 'check')
                %span.explanatory-text
                  ポイントを使用 (所持ポイント: P23)
        .method-of-payment
          .inner-box
            %ul.inner-box__heading
              %li
                %h3 支払い方法
              %li
                =link_to "#", class: "change-link" do
                  変更する
            .inner-box__user-card
              クレジットカード
              %br/
              ****************
              %br/
              有効期限 04 / 22
            .inner-box__card-logo
              =image_tag src="/assets/visa.svg", size: "50"
        .shipping-address
          %ul.shipping-address__heading
            %li
              %h3 配送先
            %li
              =link_to "#", class: "change-link" do
                変更する
          .shipping-address__address
            〒105-0011
            %br/
            東京都港区芝公園4‐2‐8
            %br/
            中田 彰都
        .buy-button
          %button{type: "submit", class: "buy-red-button"}
            購入する