.banner-contents
  .contents-box
    %h2.title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.text
      今すぐ無料ダウンロード！
    .store-btn
      =link_to "#", class: "btn-app" do
        =image_tag src="/assets/app-store.svg", size: "180x60"
      =link_to "#", class:"btn-google" do
        =image_tag src="/assets/google-play.svg", size: "180x60"
