.detail-footer
  .detail-footer__nav
    %ul
      %li
        =link_to "#" do
          プライバシーポリシー
      %li
        =link_to "#" do
          FURIMA利用規約
      %li
        =link_to "#" do
          特定商取引に関する表記
  .detail-footer__logo
    =link_to "#" do
      =image_tag src="/assets/logo-footer2.svg", class: "detail-footer-logo"
  .detail-footer__logo-text
    %p ©  FURIMA