.footer
  %ul.contents
    %li.content
      %h2.content-heading
        FURIMAについて
      %ul.footer-lists
        %li 
          %a{href: "#"} 会社概要（運営会社）
        %li 
          %a{href: "#"} プライバシーポリシー
        %li 
          %a{href: "#"} FURIMA利用規約
        %li 
          %a{href: "#"} ポイントに関する特約
    %li.content
      %h2.content-heading
        FURIMAを見る
      %ul.footer-lists
        %li
          %a{href: "#"} カテゴリー一覧
        %li
          %a{href: "#"}  ブランド一覧
    %li.content
      %h2.content-heading
        ヘルプ＆ガイド
      %ul.footer-lists
        %li 
          %a{href: "#"} FURIMAガイド
        %li
          %a{href: "#"}  FURIMAロゴ利用ガイドライン
        %li
          %a{href: "#"}  お知らせ
  .footer-logo
    %a{href: "#"}=image_tag src="/assets/logo-footer.svg", size: "160x50"
  .footer-text
    © FURIMA
