.header
  .center-box
    .center-box__top
      =link_to root_path, class: "image-link" do
        =image_tag src="logo.svg", size: "140x40"
      %form.text-form{:action => "#", :method => "get"}
        %input.text-form__input{:type => "text", :placeholder => "キーワードから探す"}
        %button.text-form__submit{:type => "submit"}
          =icon('fa', 'search', class: "search-icon")
    .center-box__bottom
      %ul.left-contents
        %ls.left-contents__item--first
          =link_to "#", id: "category" do
            カテゴリー
          .tree-displayNone
            %ul.category-type
              %li.category-type__item
                =link_to "#", id: "1" do
                  レディース
              %li.category-type__item
                =link_to "#", id: "2" do
                  メンズ
              %li.category-type__item
                =link_to "#", id: "3" do
                  ベビー・キッズ
              %li.category-type__item
                =link_to "#", id: "4" do
                  インテリア・住まい・小物
              %li.category-type__item
                =link_to "#", id: "5" do
                  本・音楽・ゲーム
              %li.category-type__item
                =link_to "#", id: "6" do
                  おもちゃ・ホビー・グッズ
              %li.category-type__item
                =link_to "#", id: "7" do
                  コスメ・香水・美容
              %li.category-type__item
                =link_to "#", id: "8" do
                  家電・スマホ・カメラ
              %li.category-type__item
                =link_to "#", id: "9" do
                  スポーツ・レジャー
              %li.category-type__item
                =link_to "#", id: "10" do
                  ハンドメイド
              %li.category-type__item
                =link_to "#", id: "11" do
                  チケット
              %li.category-type__item
                =link_to "#", id: "12" do
                  自転車・オートバイ
              %li.category-type__item
                =link_to "#", id: "13" do
                  その他
        %ls.left-contents__item
          =link_to "#", id: "brand" do
            ブランド
      %ul.right-contents
        %ls.right-contents__item--login
          =link_to "#", class: "list-link" do
            ログイン
        %ls.right-contents__item--new
          =link_to "#", class: "list-link" do
            新規会員登録
