.main-background
  .header
    = render 'shared/header'
  .main
    = render 'side'
    .credit-content
      .credit-content-title
        クレジットカード情報入力
      .credit-content-detail
        .credit-content-detail-box
          .form-group
            .number
              カード番号
            .important
              必須
            .imputform-number
              %input.text-form-number{:type => "text", :placeholder => "半角数字のみ"}
            .card-list
              .visa
                %img(src="/assets/visa.svg"height="20"width="49")
              .mastercard
                %img(src="/assets/master-card.svg"height="20"width="49")
              .saison
                %img(src="/assets/saison-card.svg"height="20"width="49")
              .jcb
                %img(src="/assets/jcb.svg"height="20"width="49")
              .american
                %img(src="/assets/american_express.svg"height="20"width="49")
              .dinersclub
                %img(src="/assets/dinersclub.svg"height="20"width="49")
              .discover
                %img(src="/assets/discover.svg"height="20"width="49")
          .form-group-second
            .limit
              有効期限
            .important
              必須
            .imputform-box
              .imputform-box-month
                %input.text-form-number{:type => "text", :placeholder => "1"}
                .imputform-month-text
                  月
              .imputform-box-year
                %input.text-form-number{:type => "text", :placeholder => "20"}
                .imputform-year-text
                  年
          .form-group-third
            .code
              セキュリティーコード
            .important
              必須
            .imputform-number
              %input.text-form-number{:type => "text", :placeholder => "カード背面４桁もしくは３桁の番号"}
            .help-box
              .help-box-text
                = icon('fas', 'question-circle')
                カード裏面の番号とは？
          .add
            追加する



    
  .footer
    = render 'shared/footer'