.single-container
  .single-header
    %h1
      %a{:href => "＃"}
        %img{:alt => "フリマ", :src => "/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"}/
  .single-main
    .login-panel
      .login-no-account
        .no-account-user アカウントをお持ちでない方はこちら
        %a{:href => "＃",class:"sighup"} 新規会員登録
      .login-form-inner
      %form{:action => "＃/", :method => "POST", :novalidate => "novalidate"}
        .login-form-inner
          .form-group
            %input.login-input-text.input-default{:name => "email", :placeholder => "メールアドレス", :type => "email", :value => ""}/
          .form-group
            %input.login-input-text.input-default{:name => "password", :placeholder => "パスワード", :type => "password"}/
          %button.login-submit.btn-default.btn-red{:type => "submit"} ログイン
          %input{:name => "login_callback", :type => "hidden", :value => "/jp/"}/
          %input{:name => "__csrf_value", :type => "hidden", :value => "#"}/
          %a{:href => "＃", class:"forget-password"} パスワードをお忘れの方
  = render 'shared/footer'