.header-nav{
  border-top: 1px solid;
  border-color: #eee;
  box-shadow: 0 3px 3px 0 rgb(211, 211, 211);
  padding: 0 60px;
  margin-top: 15px;
  position: relative;
  ul{
    max-width: 1160px;
    margin: 0 auto;
    text-align: left;
    padding: 16px 0;
    display: flex;
    li{
      margin-right: 10px;
      a{
        text-decoration: none;
        color: rgb(41, 41, 41);
        font-size: 14px;
      }
      .current-list{
        font-weight: bold;
      }
    }
  }
}

.main-contents__product{
  background-color: #f8f8f8;
  .content-box{
    padding: 40px;
    margin: 0 auto;
    .detail-content{
      width: 700px;
      margin: 0 auto;
      .product-box{
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name{
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          margin-bottom: 16px;
        }
        &__images{
          ul{
            text-align: center;
            .main-image{
              height: 360px;
              width: 560px;
              object-fit: cover;
            }
            ul{
              display: flex;
              justify-content: center;
              margin-top: 10px;
              li{
                width: 25%;
                margin-right: 10px;
                .sub-images{
                  object-fit: cover;
                  height: 87px;
                }  
              }
            }  
          }
        }
        &__price{
          margin: 20px 0;
          text-align: center;
          .product-price{
            font-size: 46px;
            font-weight: bold;
          }
        }
        &__button{
          margin: 20px 0;
          background-color: mediumturquoise;  
          text-align: center;
          .buy-button{
            height: 60px;
            width: 100%;  
            display: block;
            line-height: 60px;
            font-size: 26px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
          }
        }
        &__text{
          font-size: 18px;
          margin-bottom: 30px;
          word-break: break-all;
        }
        &__table{
          table{
            width: 100%;
            height: 375px;
            border: 1px solid #f8f8f8;
            margin-bottom: 30px;
            th{
              width: 20%;
              background-color: #eee;
              text-align: center;
              border: 1px solid #dedede;
              padding: 8px;
              font-size: 14px;
            }
            td{
              width: 61%;
              padding: 15px;
              border: 1px solid #dedede;
              font-size: 14px;
              a{
                color: mediumturquoise;
                text-decoration: none;
              }
            }
          }
        }
        &__option{
          display: flex;
          justify-content: space-between;
          .like-btn{
            color: mediumturquoise;
            border: 1px solid orange;
            border-radius: 40px;
            padding: 6px 10px;
          }
          .option-btn{
            margin-top: 10px;
            a{
              color: rgb(41, 41, 41);
              text-decoration: none;
              font-size: 14px;
              border: 1px solid rgb(41, 41, 41);
              border-radius: 4px;
              padding: 8px 10px;  
            }
          }
        }
      }
      .edit-box{
        margin: 20px 0;
        padding: 20px 30px;
        background-color: #fff;
        &__edit{
          height: 50px;
          width: 100%;
          line-height: 50px;
          text-align: center;
          background-color: mediumturquoise;
          a{
            display: block;
            text-decoration: none;
            color: #fff;
          }
        }
        p{
          text-align: center;
          margin: 10px 0;
        }
        &__delete{
          height: 50px;
          width: 100%;
          line-height: 50px;
          text-align: center;
          background-color: rgb(175, 175, 175);
          color: #fff;
          font-size: 15px;
          border: none;
          cursor: pointer;
          outline: none;
          appearance: none;
        }
        .gray-back{
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          height: 120%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 3000;
        }
        .delete-comfirmation{
          display: none;
          z-index: 4000;
          height: 300px;
          width: 600px;
          background-color: #fff;
          position: fixed;
          top: 50px;
          left: calc(50% - 300px);
          &__explanation{
            text-align: center;
            padding-top: 40px;
            .heading{
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 40px;
            }
          }
          &__button{
            display: flex;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            .cancel-btn{
              height: 60px;
              width: 50%;
              border: none;
              cursor: pointer;
              outline: none;
              appearance: none;
              font-size: 15px;
              border-top: 1px solid rgb(150, 150, 150);
            }
            .delete-button{
              height: 60px;
              width: 50%;
              border-top: 1px solid rgb(150, 150, 150);
              border-left: 1px solid rgb(150, 150, 150);
              font-size: 15px;
              color: rgb(250, 57, 57);
              text-decoration: none;
              text-align: center;
              line-height: 60px;
            }
          }
        }
      }
      .comment-box{
        padding: 24px;
        margin: 10px 0;
        background-color: #fff;
        text-align: center;
        #comment-area{
          width: calc(100% - 20px);
          min-height: 86px;
          padding: 10px;
        }
        .comment-note{
          background-color: #f8f8f8;
          font-size: 14px;
          padding: 8px;
          margin: 10px 0;
          text-align: left;
        }
        .comment-btn{
          width: 60%;
          height: 54px;
          color: #fff;
          font-size: 18px;
          border-radius: 100px;
          background-color: mediumturquoise;
          margin-top: 20px;
        }
      }
    }
    .around-link{
      display: flex;
      justify-content: space-between;
      a{
        text-decoration: none;
        color: mediumturquoise;
      }
    }
    .root-category{
      margin-top: 20px;
      a{
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        color: mediumturquoise;  
      }
    }
  }
}