.sighup-header {
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 128px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
  width: 1440px;
  display: flex;
  justify-content: center; 
  padding-top: 30px;
  background-color: #f5f5f5;
  
   .header-sighup{
    margin-right:20px;
  }

  .development-bar{
    .clearfix{
      display: flex; 
      .active{
        .circle{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;        }
        margin-right: 5px;
        }
         .circle2{
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color:#3CCACE;;
          margin: 0 auto;
          margin-top: 5px;
         }
       }
      }
    }


.sighup-main { 
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial,　;
  font-size: 14px;
  font-weight: 400;
  height: 1311px;
  line-height: 14px;
  padding: 0px;
  width: 1440px;
  margin: 0 auto;
  background-color: #f5f5f5;
  
  .sighup-container{
    width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: white;

  }
    .sighup-main-head {
      background-color: #ffffff;
      color: #333333;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      font-size: 22px;
      font-weight: 700;
      height: 95px;
      line-height: 100px;
      margin: 0px 330px;
      padding: 40px 40px 64px;
      width: 700p;
      text-align: center;
      margin: auto;
    }
}

.sighup-header {
  background-color: #f5f5f5;
}

.sighup-main {
  background-color:#f5f5f5;
}

.form-require {
  background-color: #ea352d; 
  color: #ffffff; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 12px;
  font-weight: 400;
  height: 19px;
  line-height: 12px;
  margin: 0px 0px 0px 8px;
  padding: 2px 4px;
  width: 32px;
  }

.sighup-group {
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 99px;
  line-height: 14px;
  margin:auto;
  padding: 0px;
  width: 343px;
  margin-top: 32px;
}

.sighup-information{
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  line-height: 14px;
  margin: 0px;
  padding: 0px;
  width: 83px;
}

.sighup-information2{
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 16px;
  line-height: 16px;
  margin: auto;
  padding: 0px;
  width: 343px;
}

.sighup-text{
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 63px;
  line-height: 21px;
  margin: 8px 0px 0px;
  padding: 0px;
  margin: auto;
  width: 343px;
}
.input-default{
  background-color: #ffffff; 
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 24px;
  margin: 8px 0px 0px;
  padding: 10px 16px 8px;
  width: 343px;
}

.checkbox-password{
  margin: 16px;
}

.form-info-text{
  color: #888888; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  line-height: 21px;
  margin: 8px 0px 0px;
  margin: auto;
  padding: 0px;
  width: 343px;
}


.input-default.half{
  background-color: #ffffff; 
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 24px;
  margin: 8px 8px 0px 0px;
  padding: 10px 16px 8px;
}

.select-default{
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 24px;
  margin: 0px;
  padding: 0px 10px;
  width: 76px;
}

.form-group{
  margin-top: 20px;
}

.birthday-select-wrap{
  display: inline-block;
  margin-top: 20px;
  .select-wrap{
    display: inline-block;
  }
}

.text-center{
  color: #333333; 
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  line-height: 21px;
  margin: 0px;
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  padding-top: 10px;
  width: 343px;
}

.btn-red{
  background-color:#3CCACE; 
  color: #ffffff; 
  font-family: "Source Sans Pro", Helvetica, Arial, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 48px;
  margin: 32px 0px 0px;
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  display: inherit;
  width: 343px;
}